* {
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    background: rgb(253,241,184);
    background: linear-gradient(90deg, rgba(253,241,184,1) 0%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 60%, rgba(253,241,184,1) 100%);        
    font-family: "Noto Sans Symbols", sans-serif;
}

#card {
    background-color: #fefcf6;
    width: 288px;
    height: 503px;
    border-radius: 27px;
    margin-top: 150px;
    text-align: center;
    box-shadow: 5px 20px 50px 0px rgba(0, 0, 0, 0.6);
    padding: 35px 50px;
    position: relative;
}

button {
    position: absolute;
    bottom: -5%;
    left: 25%;
    background-color: rgb(253,241,184);
    color: black;
    border-radius: 27px;
    border: none;
    font-weight: 600;
    padding: 23px 40px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 1s ease;
    transition: background-color 1s ease;
}

button:hover {
    background-color: black;
    color:  rgb(253,241,184);
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
}